In [6]:
import pandas as pd

# importing data
reactions = pd.read_csv('Reactions.csv')
reactiontypes = pd.read_csv('ReactionTypes.csv')
content = pd.read_csv('Content.csv')

In [36]:
#checking data
print("Reactions DataFrame:")
print(reactions.head())

print("\nReaction Types DataFrame:")
print(reactiontypes.head())

print("\nContent DataFrame:")
print(content.head())

Reactions DataFrame:
                             Content ID                               User ID  \
1  97522e57-d9ab-4bd6-97bf-c24d952602d2  5d454588-283d-459d-915d-c48a2cb4c27f
2  97522e57-d9ab-4bd6-97bf-c24d952602d2  92b87fa5-f271-43e0-af66-84fac21052e6
3  97522e57-d9ab-4bd6-97bf-c24d952602d2  163daa38-8b77-48c9-9af6-37a6c1447ac2
4  97522e57-d9ab-4bd6-97bf-c24d952602d2  34e8add9-0206-47fd-a501-037b994650a2
5  97522e57-d9ab-4bd6-97bf-c24d952602d2  9b6d35f9-5e15-4cd0-a8d7-b1f3340e02c4

         Type            Datetime
1     disgust 2020-11-07 09:43:50
2     dislike 2021-06-17 12:22:51
3      scared 2021-04-18 05:13:58
4     disgust 2021-01-06 19:13:01
5  interested 2020-08-23 12:25:58

Reaction Types DataFrame:
   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

Content DataFrame:
   Unnamed: 0                            Content ID  \
0           0  97522e57-d9ab-4bd6-97bf-c24d952602d2
1           1  9f737e0a-3cdd-4d29-9d24-753f4e3be810
2           2  230c4e4d-70c3-461d-b42c-ec09396efb3f
3           3  356fff80-da4d-4785-9f43-bc1261031dc6
4           4  01ab84dd-6364-4236-abbb-3f237db77180

                                User ID   Type        Category  \
0  8d3cd87d-8a31-4935-9a4f-b319bfe05f31  photo        Studying
1  beb1f34e-7870-46d6-9fc7-2e12eb83ce43  photo  healthy eating
2  a5c65404-5894-4b87-82f2-d787cbee86b4  photo  healthy eating
3  9fb4ce88-fac1-406c-8544-1a899cee7aaf  photo      technology
4  e206e31b-5f85-4964-b6ea-d7ee5324def1  video            food

                                                 URL
0  https://socialbuzz.cdn.com/content/storage/975...
1  https://socialbuzz.cdn.com/content/storage/9f7...
2  https://socialbuzz.cdn.com/content/storage/230...
3  https://socialbuzz.cdn.com/content/storage/356...
4  https://socialbuzz.cdn.com/content/storage/01a...

In [10]:
#preparing cleanup of reactions df
print(reactions.columns)
print(reactions.dtypes)
print(reactions.isnull().sum())

Index(['Unnamed: 0', 'Content ID', 'User ID', 'Type', 'Datetime'], dtype='object')
Unnamed: 0     int64
Content ID    object
User ID       object
Type          object
Datetime      object
dtype: object
Unnamed: 0       0
Content ID       0
User ID       3019
Type           980
Datetime         0
dtype: int64

In [12]:
#remove first unnamed column
reactions.drop(columns=['Unnamed: 0'], inplace=True)

In [55]:
reactions.head(10)

,Content ID,User ID,Type,Datetime
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01
5,97522e57-d9ab-4bd6-97bf-c24d952602d2,9b6d35f9-5e15-4cd0-a8d7-b1f3340e02c4,interested,2020-08-23 12:25:58
6,97522e57-d9ab-4bd6-97bf-c24d952602d2,7918d465-0953-4f20-9e28-539e74c82e2f,peeking,2020-12-07 06:27:54
7,97522e57-d9ab-4bd6-97bf-c24d952602d2,fa3e42f0-71d8-455f-b024-e52d5c27a145,cherish,2021-04-11 17:35:49
8,97522e57-d9ab-4bd6-97bf-c24d952602d2,b0c22f82-b882-4394-bf27-6dfadf26e5c2,hate,2021-01-27 08:32:09
9,97522e57-d9ab-4bd6-97bf-c24d952602d2,1932a904-86ba-4438-bb52-b7e6516a4019,peeking,2021-04-01 22:54:23

In [16]:
#convert to datetime
reactions['Datetime'] = pd.to_datetime(reactions['Datetime'])
#drop rows with missing type values
reactions.dropna(subset=['Type'], inplace=True)

In [22]:
print(reactions.isnull().sum())

Content ID       0
User ID       2039
Type             0
Datetime         0
dtype: int64

In [26]:
#checking for duplicate rows
reactions = reactions.drop_duplicates()
print(reactions.isnull().sum())

Content ID       0
User ID       2039
Type             0
Datetime         0
dtype: int64

In [85]:
# display the cleaned df to verify changes
#changing Type column to lowercase
reactions['Type'] = reactions['Type'].str.lower()
print("Cleaned DataFrame:")
reactions.head()
cleanreactions = reactions
cleanreactions

Cleaned DataFrame:

,Content ID,User ID,Type,Datetime
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01
5,97522e57-d9ab-4bd6-97bf-c24d952602d2,9b6d35f9-5e15-4cd0-a8d7-b1f3340e02c4,interested,2020-08-23 12:25:58
...,...,...,...,...
25548,75d6b589-7fae-4a6d-b0d0-752845150e56,80c9ce48-46f9-4f5e-b3ca-3b698fc2e949,dislike,2020-06-27 09:46:48
25549,75d6b589-7fae-4a6d-b0d0-752845150e56,2bd9c167-e06c-47c1-a978-3403d6724606,intrigued,2021-02-16 17:17:02
25550,75d6b589-7fae-4a6d-b0d0-752845150e56,NaN,interested,2020-09-12 03:54:58
25551,75d6b589-7fae-4a6d-b0d0-752845150e56,5ffd8b51-164e-47e2-885e-8b8c46eb63ed,worried,2020-11-04 20:08:31
25552,75d6b589-7fae-4a6d-b0d0-752845150e56,4edc3d1a-a7d9-4db6-89c3-f784d9954172,cherish,2021-01-04 04:55:11

In [34]:
#prepping cleanup of content df
print(content.columns)
print(content.dtypes)
print(content.isnull().sum())

Index(['Unnamed: 0', 'Content ID', 'User ID', 'Type', 'Category', 'URL'], dtype='object')
Unnamed: 0     int64
Content ID    object
User ID       object
Type          object
Category      object
URL           object
dtype: object
Unnamed: 0      0
Content ID      0
User ID         0
Type            0
Category        0
URL           199
dtype: int64

In [42]:
content

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...
...,...,...,...,...,...,...
995,995,b4cef9ef-627b-41d7-a051-5961b0204ebb,5b62e10e-3c19-4d28-a57c-e9bdc3d6758d,video,public speaking,NaN
996,996,7a79f4e4-3b7d-44dc-bdef-bc990740252c,4fe420fa-a193-4408-bd5d-62a020233609,GIF,technology,https://socialbuzz.cdn.com/content/storage/7a7...
997,997,435007a5-6261-4d8b-b0a4-55fdc189754b,35d6a1f3-e358-4d4b-8074-05f3b7f35c2a,audio,veganism,https://socialbuzz.cdn.com/content/storage/435...
998,998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,b9bcd994-f000-4f6b-87fc-caae08acfaa1,GIF,culture,https://socialbuzz.cdn.com/content/storage/4e4...
999,999,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...

In [44]:
#drop unnamed index
content.drop(columns=['Unnamed: 0'], inplace=True)

In [65]:
#ensuring normativity within the columns table
content['Category'] = content['Category'].str.lower()
#ensuring that there is no quotation marks within the table
content['Category'] = content['Category'].str.replace('"', '', regex=False)

All quotation marks have been removed from the category column.

In [ ]:
#renaming null or nan columns as unknown  
content['URL'] = content['URL'].fillna('unknown')
print(content.isnull().sum())
#renaming the type column to content type 
content.rename(columns={'Type': 'Content Type'}, inplace=True)

In [55]:
reactiontypes

    Unnamed: 0         Type Sentiment  Score
0            0        heart  positive     60
1            1         want  positive     70
2            2      disgust  negative      0
3            3         hate  negative      5
4            4   interested  positive     30
5            5  indifferent   neutral     20
6            6         love  positive     65
7            7   super love  positive     75
8            8      cherish  positive     70
9            9        adore  positive     72
10          10         like  positive     50
11          11      dislike  negative     10
12          12    intrigued  positive     45
13          13      peeking   neutral     35
14          14       scared  negative     15
15          15      worried  negative     12

In [57]:
# dropping unnamed:0 index
reactiontypes.drop(columns=['Unnamed: 0'], inplace=True)

In [59]:
print(reactiontypes.isnull().sum())

Type         0
Sentiment    0
Score        0
dtype: int64

In [97]:

cleanreactiontypes = reactiontypes
cleancontent = content
cleanreactions.drop(columns = ['User ID'])

                                 Content ID        Type            Datetime
1      97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust 2020-11-07 09:43:50
2      97522e57-d9ab-4bd6-97bf-c24d952602d2     dislike 2021-06-17 12:22:51
3      97522e57-d9ab-4bd6-97bf-c24d952602d2      scared 2021-04-18 05:13:58
4      97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust 2021-01-06 19:13:01
5      97522e57-d9ab-4bd6-97bf-c24d952602d2  interested 2020-08-23 12:25:58
...                                     ...         ...                 ...
25548  75d6b589-7fae-4a6d-b0d0-752845150e56     dislike 2020-06-27 09:46:48
25549  75d6b589-7fae-4a6d-b0d0-752845150e56   intrigued 2021-02-16 17:17:02
25550  75d6b589-7fae-4a6d-b0d0-752845150e56  interested 2020-09-12 03:54:58
25551  75d6b589-7fae-4a6d-b0d0-752845150e56     worried 2020-11-04 20:08:31
25552  75d6b589-7fae-4a6d-b0d0-752845150e56     cherish 2021-01-04 04:55:11

[24573 rows x 3 columns]

In [109]:
cleanreactions.rename(columns={'Type': 'Reaction Type'}, inplace=True)
cleanreactiontypes.rename(columns={'Type': 'Reaction Type'}, inplace=True)

In [117]:
#merging tables for export
merged_data = cleanreactions.merge(cleancontent, on='Content ID', how='left')


final_data = merged_data.merge(cleanreactiontypes, on='Reaction Type', how='left')

final_data.rename(columns={'Type': 'Content Type'}, inplace=True)

In [119]:
#exporting dataset
final_data.to_csv('final_dataset.csv', index=False)

In [123]:
#displaying the 5 top categories

category_scores = final_data.groupby('Category')['Score'].sum()

top_5_categories = category_scores.sort_values(ascending=False).head(5)

print(top_5_categories)

Category
animals           74965
science           71168
healthy eating    69339
technology        68738
food              66676
Name: Score, dtype: int64

In [125]:
# creating a dataframe for top 5 scores
top_5_categories_df = top_5_categories.reset_index().rename(columns={'score': 'total_score'})

In [133]:
#creating excel file with top five categories and top 5 scores
with pd.ExcelWriter('final_dataset_with_top_5_categories.xlsx') as writer:
    final_data.to_excel(writer, sheet_name='Cleaned Dataset', index=False)
    top_5_categories_df.to_excel(writer, sheet_name='Top 5 Categories', index=False)